@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  background-color: #363636;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  color: #dadada;
}

.card {
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.404);
}

.card h3 {
  margin-top: 0px;
}

.two-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

button:hover,
input:hover {
  cursor: pointer;
}

button {
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;

  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  background: none;
  color: #dadada;
  border: 2px solid #dadada;
}

button:hover {
  background-color: #dadada;
  color: #363636;
}

#but-generate {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
#colorList {
  padding: 0px;
  max-width: 300px;
}

#colorList li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

#colorList li button {
  background: none;
  color: #fff;
  mix-blend-mode: difference;

  border: 2px solid #fff;
}

#colorList li button:hover {
  background-color: #fff;
  color: #000;
}

#colorList li label {
  color: #fff;
  mix-blend-mode: difference;
}

#svg-master {
  max-width: 500px;
  aspect-ratio: 681/567;
}

#results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

#results svg {
  border-radius: 0.5rem;
}

/* increase the amount of columns to 5 on screens wider than 1920px */
@media screen and (min-width: 1440px) {
  #results {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* set the amount of columns to 2 on screens narrower than 500px */
@media screen and (max-width: 700px) {
  #results {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* set the amount of columns to 1 on screens narrower than 300px */
@media screen and (max-width: 600px) {
  #results {
    grid-template-columns: repeat(1, 1fr);
  }

  .two-cols {
    grid-template-columns: repeat(1, 1fr);
  }
}
